<div class="card p-2 rounded-4" style="background-color: white; border: none">
  <div class="d-flex m-2 justify-content-between">
    <p class="mb-0">Student Clear Semester</p>
    <div class="dropdown">
      <a
        class="btn btn-secondary dropdown-toggle"
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        style="
          border-radius: 20px;
          padding: 2px 20px;
          background: none;
          color: #dfd8ee;
          border: 1px solid #dfd8ee;
        "
      >
        Semester 1
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#">Semester 2</a></li>
        <li><a class="dropdown-item" href="#">Semester 3</a></li>
        <li><a class="dropdown-item" href="#">Semester 4</a></li>
        <li><a class="dropdown-item" href="#">Semester 5</a></li>
        <li><a class="dropdown-item" href="#">Semester 6</a></li>
        <li><a class="dropdown-item" href="#">Semester 7</a></li>
        <li><a class="dropdown-item" href="#">Semester 8</a></li>
      </ul>
    </div>
  </div>

  <i
    class="fa-solid fa-arrow-up-long m-3"
    style="text-align: center; font-size: x-large; color: blue"
  >
    1974</i
  >
  <h6>Student Successfully clear their Semester Exam</h6>
  <hr
    style="background-color: #e8e3ef; height: 2px; border: none"
    class="mx-2"
  />
  <i
    class="fa-solid fa-arrow-down-long m-3"
    style="text-align: center; font-size: x-large; color: orange"
  >
    287</i
  >
  <h6>Students having backlogs in their Semester Exam</h6>
</div>
