<div class="card mb-3 rounded-4" style="background-color: white; border: none">
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      placeholder="Search..."
      aria-label="Search"
      aria-describedby="search-icon"
      style="border: none"
    />
    <div class="input-group-append">
      <span id="search-icon">
        <i
          class="fa-solid fa-search"
          style="
            font-size: medium;
            color: white;
            padding: 8px;
            margin: 6px;
            background-color: #5155c3;
            border-radius: 50px;
          "
        ></i>
      </span>
    </div>
  </div>
</div>
