<div
  class="card p-3 rounded-4 flex justify-content-center mb-3"
  style="border: none"
>
  <h5>Annual Course</h5>
  <h6 style="color: #c6c1d4">Total percentage of course completed</h6>
  <p-chart type="doughnut" [data]="data" [options]="options"></p-chart>
  <p style="color: #c6c1d4; text-align: center">
    Average of all the course completed of each depatrtment in the Intitute
  </p>
  <div class="my-2" style="text-align: center">
    <button
      style="background-color: #5155c3; color: white; border: none"
      class="rounded-pill my-2 px-4"
    >
      Review
    </button>
  </div>
</div>
